main {
    padding: 0 20px;
}

input[type="text"], textarea {
    width: 100%;
    font-size: 1.2 rem;
    padding: 6px;
    margin: 6px 0;
    border: 2 px solid lightgray;
}

textarea {
    resize: none;
}

form {
    width: 800px;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    form {
        width: 100%;
    }
}

button, input[type="reset"] {
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
    font-size: 1rem;
    border: 0px;
    width: 100px;
    cursor: pointer;
}

button:hover, input[type="reset"]:hover {
    background-color: gray;
}

.form-input {
    margin: 10px 0;
}

h1 {
    text-align: center;
}